.App {
  background-color: grey;
  height: 100vh;
  position: relative;
}

.phone-container {
  position: absolute;
  border: 1px solid white;
  width: 525px;
  height: 1000px;
  margin: 0 auto;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}