.App {
  background-color: black;
  height: 100vh;
}

.phone-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}